Node red flow.json
[{"id":"6a4fa0a6.b8931","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61f2bd24.9d5b24","type":"ui_form","z":"6a4fa0a6.b8931","name":"","label":"","group":"af559440.7ed868","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality\t","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths\t","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI  ","value":"j","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio ","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure ","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP ","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" Thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling  ","value":"u","type":"number","required":true,"rows":null},{"label":"Developed","value":"a","type":"number","required":true,"rows":null},{"label":"Developing","value":"c","type":"number","required":true,"rows":null}],"formValue":{"b":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","r":"","s":"","t":"","u":"","a":"","c":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["3d0b2fd1.2e775"]]},{"id":"3d0b2fd1.2e775","type":"function","z":"6a4fa0a6.b8931","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.b);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.b);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"Kfot-sfPbMBe9AWTJYD7uGvVSoSZ1KZ6HLcW__p0Agr5\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["d16566d3.7179e8"]]},{"id":"38c59ec9.3f7ef2","type":"http request","z":"6a4fa0a6.b8931","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0167cb02-be2b-4951-9dca-bdae9ddbc879/deployments/d2ede3ad-e224-4d04-9aed-144b920d495c/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["267223b6.5cfaec","b2e0fe61.6d1c9"]]},{"id":"baaadf7f.0e2e3","type":"debug","z":"6a4fa0a6.b8931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"b2e0fe61.6d1c9","type":"function","z":"6a4fa0a6.b8931","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["baaadf7f.0e2e3","e4811a0e.f468f8"]]},{"id":"32887815.16e588","type":"function","z":"6a4fa0a6.b8931","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"0167cb02-be2b-4951-9dca-bdae9ddbc879\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ 'Year', 'Adult Mortality', \n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', \n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling' ,'Developed',\n       'Developing'],\n\"values\":[[b,d,e,f,g,h,i,j,k,l,m,n,o,p,r,s,t,u,a,c]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["38c59ec9.3f7ef2"]]},{"id":"d16566d3.7179e8","type":"http request","z":"6a4fa0a6.b8931","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["32887815.16e588"]]},{"id":"e4811a0e.f468f8","type":"ui_text","z":"6a4fa0a6.b8931","group":"af559440.7ed868","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"267223b6.5cfaec","type":"debug","z":"6a4fa0a6.b8931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"af559440.7ed868","type":"ui_group","z":"","name":"Default","tab":"18fe50e9.895e3f","order":1,"disp":true,"width":"6","collapse":false},{"id":"18fe50e9.895e3f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]